@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

/* BREAKPOINTS */
// MOBILE

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}


.navbar {
  background-color: rgba(128, 128, 128, 0.185);
  border-bottom: 1px solid rgba(128, 128, 128, 0.658);
  height: 65px;
  padding: 1rem 2rem;
  width: 100%;
  .navbar-brand {
    font-size: 18px;
  }
  .toggler.navbar-toggler {
    margin-left: 70%;
    margin-top: -43px;
    padding: 4px 6px;
  }
  .dropdown-toggle.nav-link {
    margin-left: 70%;
    margin-top: -10px;
    font-size: 13px;
  }
  .dropdown-menu.dropdown-menu-end.show {
    margin-left: 60%;
    margin-top: -8px;
    width: 50px;
    font-size: 12px; 
  }
}


.sidebar {
  background-color: rgb(25, 24, 24);
  border-right: 1px solid black;
  width: 25%;
  .logo {
    background-color: rgb(25, 24, 24);
    display: flex;
    padding: 15px 0px;
  }
  img {
    width: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .desk {
    display: none;
  }

  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        font-size: 17px;
        text-decoration: none;
        &.active {
          background-color: #e79e000f;
        }
      }
    }
  }
}


.lineChart {
  border: 1px solid lightgray;
  width: 245px;
  margin: 20px 0px;
}


.barChart {
  border: 1px solid lightgray;
  width: 255px;
  margin: 20px 2px;
  padding: 3px;
 
  .barTitle {
    color: rgb(45, 5, 156);
    font-size: 15px;
    font-weight: bold;
    margin-left: 22px;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
    padding: 0px 20px;
  }
}


.home {
  height: 100vh;
  .content {
    background-color: rgba(128, 128, 128, 0.075);
    border-bottom: 1px solid rgba(128, 128, 128, 0.658);
    display: flex;
    align-items: center;
    height: 130px;
    // overflow-y: auto;
    margin-top: 0px;
    h2 {
      color: rgb(10, 1, 37);
      font-size: 22px;
      font-weight: bold;
    }
    p {
      color: gray;
      font-size: 15px;
    }
  }
  .body {
    h3 {
    color: rgb(45, 5, 156);
    font-size: 15px;
    font-weight: bold;
    margin: 15px 2px;
    }
    p {
      font-size: 13px;
      margin-left: 1px;
    }
  }

  .line {
    display: flex;
    justify-content: center;
  }
  .report {
    display: flex;
    justify-content: center;
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      font-size: 13px;
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 3px 12px;
    }
  }
}


.products {
  height: 100vh;
  h2 {
      color: rgb(8, 5, 14);
      font-size: 22px;
      font-weight: bold;
      margin: 20px;
  }
  .products-panels {
    display: flex;
    justify-content: space-around;
    width: 255px;
    .p-panels {
      border: 1px solid gray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 5px;
      height: 140px;
      width: 105px;
      h3 {
        color: gray;
        font-size: 15px;
      }
      .info {
        font-size: 14px;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .adm-link {
        color: rgb(73, 61, 177);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .products-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .p-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    margin: 20px 8px;
    padding: 20px;
    width: 240px;
    }
    h3 {
    color: rgb(45, 5, 156);
    font-size: 15px;
    font-weight: bold;
    }
    h4 {
    color: rgb(25, 24, 24);
    font-size: 16px;
    font-weight: bold;
    }
    img {
      height: 90px;
      width: 100px;
      margin: 15px 0px 5px 0px;
    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      display: flex;
      font-size: 13px;
      margin-top: 10px;
      padding: 2px 12px;
    }
    p {
      align-self: flex-start;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.p-list {
  h2 {
    color: rgb(8, 5, 14);
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    button {
      border: 1px solid gray;
      font-size: 14px;
      height: 25px;
      width: 25px;
      margin: 0px 5px 8px 3px;
    }
  }
  
}

.p-items {
   border: solid 1px gray;
   width: 125px;
   margin: 2px 1px;
   li {
    //  font-size: 13px;
     padding: 4px 8px;
     list-style: none;
   }
   h4 {
     font-size: 18px;
     font-weight: bold;
   }
   img {
     height: 90px;
     width: 100px;
     margin-bottom: 8px;
   }
   p {
     font-size: 13px;
     line-height: 12px;
   }
}


.users {
  height: 100vh;

  h2 {
      color: rgb(8, 5, 14);
      font-size: 22px;
      font-weight: bold;
      margin: 20px;
  }
  .users-panels {
    display: flex;
    justify-content: space-around;
    width: 255px;
    .u-panels {
      border: 1px solid gray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 5px;
      height: 140px;
      width: 105px;
      h3 {
        color: gray;
        font-size: 15px;
      }
      .info {
        font-size: 14px;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .adm-link {
        color: rgb(73, 61, 177);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .users-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .u-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid lightgray;
      margin: 20px 8px;
      padding: 20px;
      width: 240px;
    }
    h3 {
      color: rgb(45, 5, 156);
      font-size: 15px;
      font-weight: bold;
      }
      h4 {
        color: rgb(25, 24, 24);
        font-size: 16px;
        font-weight: bold;
      }
    img {
      height: 100px;
      width: 100px;
      margin: 15px 0px 5px 0px;

    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      display: flex;
      font-size: 13px;
      margin-top: 10px;
      padding: 2px 12px;
    }
    p {
      align-self: flex-start;
      line-height: 22px;
    }
  }
}

.u-list {
  h2 {
    color: rgb(8, 5, 14);
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
  }
}

.u-items {
   border: solid 1px gray;
   width: 125px;
   margin: 2px 1px;
   li {
     padding: 4px 6px;
     list-style: none;
   }
   h4 {
     font-size: 18px;
     font-weight: bold;
   }
   img {
     height: 80px;
     width: 80px;
     margin-bottom: 8px;
   }
   p {
     font-size: 9px;
     line-height: 12px;
   }
}


.categories {
  height: 100vh;

  h2 {
      color: rgb(8, 5, 14);
      font-size: 22px;
      font-weight: bold;
      margin: 20px;
  }
  .cat-panels {
    display: flex;
    justify-content: space-around;
    width: 255px;
    .c-panels {
      border: 1px solid gray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 5px;
      height: 140px;
      width: 105px;
      h3 {
        color: gray;
        font-size: 15px;
      }
      .info {
        font-size: 14px;
      }
      .flex-div {
        display: flex;
      }
      h4 {
        font-size: 14px;
        margin-top: -14px;
        line-height: 5px;
      }
      .cant {
        font-size: 12px;
        color: rgb(73, 61, 177);
        font-weight: bold;
        margin-top: -18px;
        padding-left: 2px;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .cat-info {
      border: 1px solid lightgray;
      margin: 20px 8px;
      padding: 20px;
      width: 240px;
    h3 {
      color: rgb(45, 5, 156);
      font-size: 15px;
      font-weight: bold;
    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      font-size: 13px;
      margin-left: 22px;
      margin-top: 8px;
      padding: 3px;
      width: 150px;
    }
  }
}


.statistics {
  height: 100vh;
  h2 {
      color: rgb(8, 5, 14);
      font-size: 22px;
      font-weight: bold;
      margin: 20px;
  }
  .statis-panels {
    display: flex;
    justify-content: space-around;
    width: 255px;
    .s-panels {
      border: 1px solid gray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 5px;
      height: 140px;
      width: 105px;
      h3 {
        color: gray;
        font-size: 15px;
      }
      .info {
        font-size: 14px;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .link {
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
      }
      ul {
        margin-left: -32px;
        li {
          list-style: none;
          margin-top: 1px;
          .adm-link {
            color: rgb(73, 61, 177);
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}


/* TABLET */
@media (min-width: 481px) {
  .navbar {
    .toggler.navbar-toggler {
      margin-left: 80%;
    }
    .dropdown-toggle.nav-link {
      margin-left: 80%;  
    }
    .dropdown-menu.dropdown-menu-end.show {
      margin-left: 70%;
    }
  }
  

  .lineChart {
    width: 345px;
  }
  

  .barChart {
    width: 355px;
   
    .barTitle {
      font-size: 16px;
      margin-left: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 13px;
      padding: 0px 25px;
    }
  }
  
  
  .home {
    height: 100vh;
    .content {
      height: 125px;
      margin-top: 0px;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
    .body {
      h3 {
      color: rgb(45, 5, 156);
      font-size: 20px;
      font-weight: bold;
      margin: 15px 2px;
      }
      p {
        font-size: 14px;
      }
    }
  
    .report {
      button {
        font-size: 14px;
      }
    }
  }
  
  
  .products {
    h2 {
        font-size: 26px;
    }
    .products-panels {
      width: 360px;
      .p-panels {
        padding: 8px;
        height: 160px;
        width: 135px;
        h3 {
          font-size: 16px;
        }
        .info {
          font-size: 14px;
        }
        .number {
          font-size: 22px;
        }
        .adm-link {
          font-size: 20px;
        }
      }
    }
    .products-info {
      .p-info {
      margin: 20px 22px;
      width: 310px;
      }
      h3 {
      font-size: 16px;
      }
      h4 {
      font-size: 18px;
      }
      img {
        height: 120px;
        width: 130px;
        margin: 15px 0px 5px 0px;
      }
      button {
        font-size: 14px;
      }
    }
  }

  .p-list {
    h2 {
      font-size: 26px;
    }
    ul {
    display: flex;
    justify-content: center;
    }
  }
  
  .p-items {
     width: 175px;
     margin: 2px 2px;
     li {
      //  font-size: 13px;
       padding: 4px 20px;
     }
     img {
       height: 100px;
       width: 115px;
       margin-bottom: 10px;
     }
     p {
       font-size: 14px;
     }
  }


  .users {
    height: 100vh;
  
    h2 {
      font-size: 26px;
    }
    .users-panels {
      width: 360px;
      .u-panels {
        padding: 8px;
        height: 160px;
        width: 135px;
        h3 {
          font-size: 16px;
        }
        .info {
          font-size: 14px;
        }
        .number {
          font-size: 22px;
        }
        .adm-link {
          font-size: 20px;
        }
      }
    }
    .users-info {
      display: flex;
      flex-direction: column;
  
      .u-info {
        margin: 20px 22px;
        width: 310px;
      }
      h3 {
        font-size: 16px;
        }
        h4 {
        font-size: 18px;
        }
      img {
        height: 100px;
        width: 100px;
        margin: 15px 0px 5px 0px
      }
      button {
        font-size: 14px;
      }
    }
  }
  
  .u-list {
  height: 100vh;

    h2 {
      font-size: 26px;
    }
    ul {
      display: flex;
      justify-content: center;
      }
  }
  
  .u-items {
    width: 160px;
    margin: 2px 2px;
      li {
      padding: 4px 8px;
     }
     h4 {
       font-size: 18px;
       font-weight: bold;
     }
     img {
       height: 90px;
       width: 90px;
       margin-bottom: 10px;
     }
     p {
       font-size: 11px;
     }
  }


  .categories {
    height: 100vh;
  
    h2 {
      font-size: 26px;
    }
    .cat-panels {
      width: 355px;
      .c-panels {
        padding: 8px;
        height: 160px;
        width: 135px;
        h3 {
          font-size: 16px;
        }

        .flex-div {
          display: flex;
        }
        h4 {
          font-size: 15px;
          margin-top: -10px;
          line-height: 8px;
        }
        .cant {
          font-size: 14px;
          margin-top: -16px;
          padding-left: 4px;
        }
        .number {
          font-size: 22px;
        }
      }
    }
    .cat-info {
      margin: 20px 22px;
      width: 310px;
      h3 {
        font-size: 16px;
      }
      button {
        font-size: 14px;
        margin-left: 60px;
        margin-top: 12px;
        padding: 4px;
        width: 155px;
      }
    }
  }
  
  .statistics {
    height: 100vh;
    h2 {
      font-size: 26px;

    }
    .statis-panels {
      width: 355px;
      .s-panels {
        padding: 8px;
        height: 160px;
        width: 135px;
        h3 {
          font-size: 16px;
        }
        .info {
          font-size: 14px;
        }
        .number {
          font-size: 22px;
        }
        .link {
          font-size: 15px;
          margin-top: 5px;
          text-align: center;
        }
      }
    }
  }
}

/* DESKTOP */
@media (min-width: 769px) {

.navbar {
  height: 95px;
  padding: 1rem 2rem;
  width: 100%;
  .toggler.navbar-toggler {
    margin-left: 92%;
    margin-top: -35px;
    padding: 5px 8px;
  }
  .dropdown-toggle.nav-link {
    margin-left: 92%;
  }
  .dropdown-menu.dropdown-menu-end.show {
    margin-left: 83%;
    margin-top: 1px;
    width: 190px;
  }
}


.sidebar {
  img {
    width: 125px;
  }
  .mobile {
    display: none;
  }
  .desk {
    display: block;
  }
}


.lineChart {
  height: 320px;
  width: 550px;
  margin: 20px 25px;
  padding: 10px;
}


.barChart {
  width: 550px;
  margin: 50px 25px;
  padding: 10px;
 
  .barTitle {
    font-size: 22px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    padding: 0px 25px;
  }
}


.home {
  .content {
    height: 130px;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
  }
  .body {
    h3 {
    font-size: 22px;
    margin: 15px 25px;
    }
    p {
      font-size: 18px;
      margin-left: 25px;
    }
  }
  .report {
    button {
      font-size: 17px;
      margin-top: 15px;
      padding: 7px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
  }
}


.products {
  h2 {
      color: rgb(8, 5, 14);
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .products-panels {
    width: 100%;
    .p-panels {
      box-shadow: 4px 4px 4px gray;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 265px;
      h3 {
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;
      }
      .number {
        font-size: 30px;
        margin-top: 5px;
      }
      .adm-link {
        font-size: 25px;
      }
    }
  }
  .products-info {
    flex-direction: row;
    
    .p-info {
    margin: 30px 80px;
    padding: 30px;
    width: 380px;
    }
    h3 {
    font-size: 22px;
    margin-bottom: 15px;
    }
    h4 {
    font-size: 20px;
    }
    img {
      height: 150px;
      width: 170px;
      margin: 20px 0px 12px 0px;
    }
    button {
      font-size: 14px;
      margin-top: 12px;
      padding: 5px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
    p {
      line-height: 22px;
    }
  }
}

.p-list {
  h2 {
    font-size: 40px;
  }
  .buttons {
    button {
      font-size: 14px;
      height: 26px;
      width: 26px;
      margin: 12px 6px;
      padding: 2px;
    }
  }
}

.p-items {
   box-shadow: 4px 4px 4px gray;
   width: 260px;
   margin: 4px 8px;
      
   li {
    //  font-size: 14px;
     padding: 6px 65px;
   }
   h4 {
    font-size: 20px;
   }
   img {
     height: 110px;
     width: 125px;
     margin-bottom: 12px;
   }
   p {
     font-size: 15px;
   }
}


.users {
  h2 {
      font-size: 40px;
      margin: 20px;
  }
  .users-panels {
    width: 100%;
    .u-panels {
      box-shadow: 4px 4px 4px gray;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 265px;
      h3 {
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;
      }
      .number {
        font-size: 30px;
        margin-top: 5px;
      }
      .adm-link {
        font-size: 25px;
      }
    }
  }
  .users-info {
    flex-direction: row;

    .u-info {
    margin: 30px 80px;
    padding: 30px;
    width: 380px;
    }
    h3 {
      font-size: 22px;
      margin-bottom: 15px;
      }
      h4 {
      font-size: 20px;
      margin-bottom: 15px;
      }
    img {
      height: 150px;
      width: 150px;
      margin: 20px 0px 12px 0px;;
    }
    button {
      font-size: 14px;
      margin-top: 12px;
      padding: 5px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
    p {
      line-height: 22px;
    }
  }
}

.u-list {
  h2 {
    font-size: 40px;
  }
}

.u-items {
  box-shadow: 4px 4px 4px gray;
  width: 250px;
  margin: 6px 15px;
    li {
    padding: 4px 40px;
   }
   h4 {
     font-size: 20px;
   }
   img {
     height: 105px;
     width: 105px;
     margin-bottom: 12px;
     margin-left: 25px;
   }
   p {
     font-size: 13px;
   }
}


.categories {
  h2 {
      font-size: 40px;
      margin: 20px;
  }
  .cat-panels {
    width: 100%;
    .c-panels {
      box-shadow: 4px 4px 4px gray;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 265px;
      h3 {
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
      }
      h4 {
        font-size: 16px;
        margin-top: -10px;
      }
      .cant {
        font-size: 15px;
        margin-top: -17px;
      }
      .number {
        font-size: 30px;
        margin-top: 5px;
      }
    }
  }
  .cat-info {
    margin: 30px 50px;
    padding: 25px;
    width: 400px;
    h3 {
    font-size: 22px;
    font-weight: bold;
    }
    button {
      font-size: 17px;
      margin-left: 80px;
      margin-top: 15px;
      padding: 7px 20px;
      width: 200px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
  }
}

.statistics {
  h2 {
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .statis-panels {
    width: 100%;

    .s-panels {
      box-shadow: 4px 4px 4px gray;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 265px;
      h3 {
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;
      }
      .number {
        font-size: 30px;
        margin-top: 5px;
      }
      
      li {
        font-size: 22px;
      }
    }
  }
}
}