@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}
// body {
//   overflow: hidden;
// }
.flex {
  display: flex;
}

.navbar {
  background-color: rgba(128, 128, 128, 0.185);
  border-bottom: 1px solid rgba(128, 128, 128, 0.658);
  // display: flex;
  height: 95px;
  padding: 1rem 2rem;
  width: 100%;
  .toggler.navbar-toggler {
    margin-left: 92%;
    margin-top: -35px;
    padding: 5px 8px;
  }
  .dropdown-toggle.nav-link {
    margin-left: 92%;
  }
  .dropdown-menu.dropdown-menu-end.show {
    margin-left: 83%;
    margin-top: 1px;
    width: 190px;
    // .dropdown.show.nav-item {
    // margin-left: 910px;
    // }
  }
}



// .navbar-toggler-icon {
//   font-size: large;
// }

.sidebar {
  background-color: rgb(25, 24, 24);

  border-right: 1px solid black;
  // height: 100%;
  width: 25%;
  .logo {
    background-color: rgb(25, 24, 24);
    display: flex;
    padding: 15px 0px;
  }
  img {
    width: 125px;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        font-size: 17px;
        text-decoration: none;
        &.active {
          background-color: #e79e000f;
        }
      }
    }
  }
}

.lineChart {
  border: 1px solid lightgray;
  height: 320px;
  width: 550px;
  margin: 20px 25px;
  padding: 10px;
 
  // .barTitle {
  //   color: brown;
  //   font-size: 20px;
  //   margin-left: 20px;
  // }
}

.barChart {
  border: 1px solid lightgray;
  height: 320px;
  width: 550px;
  margin: 20px 25px;
  padding: 10px;
 
  .barTitle {
    color: rgb(45, 5, 156);
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 10px;
  }
}


.home {
  .content {
    background-color: rgba(128, 128, 128, 0.075);
    border-bottom: 1px solid rgba(128, 128, 128, 0.658);
    display: flex;
    align-items: center;
    height: 130px;
    // overflow-y: auto;
    margin-top: 0px;
    h2 {
      color: rgb(10, 1, 37);
      font-size: 40px;
      font-weight: bold;
    }
    p {
      color: gray;
      font-size: 18px;
    }
  }
  .body {
    h3 {
    color: rgb(45, 5, 156);
    font-size: 22px;
    font-weight: bold;
    margin: 15px 25px;
    }
    p {
      font-size: 18px;
      margin-left: 25px;
    }
  }
  .report {
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      font-size: 17px;
      margin-left: 250px;
      margin-top: 15px;
      padding: 7px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
  }
}


.products {
  h2 {
      color: rgb(8, 5, 14);
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .products-panels {
    display: flex;
    justify-content: space-around;
    .p-panels {
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 4px 4px 4px gray;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 270px;
      h3 {
        color: gray;
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;

      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 34px;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
      }
      .adm-link {
        color: rgb(73, 61, 177);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .products-info {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .p-info {
    border: 1px solid lightgray;
    margin: 30px 50px;
    padding: 20px;
    width: 360px;
    }
    h3 {
    color: rgb(45, 5, 156);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    }
    h4 {
    color: rgb(25, 24, 24);
    font-size: 20px;
    font-weight: bold;
    }
    img {
      height: 150px;
      width: 170px;
      margin: 20px 0px 12px 85px;
    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      display: flex;
      font-size: 14px;
      margin-left: 125px;
      margin-top: 12px;
      padding: 5px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
    p {
      line-height: 22px;
    }
  }
}

.users {
  h2 {
      color: rgb(8, 5, 14);
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .users-panels {
    display: flex;
    justify-content: space-around;
    .u-panels {
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 4px 4px 4px gray;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 270px;
      h3 {
        color: gray;
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;

      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 34px;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
      }
      .adm-link {
        color: rgb(73, 61, 177);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .users-info {
    display: flex;
    justify-content: center;
    align-items: center;

    .u-info {
    border: 1px solid lightgray;
    margin: 30px 50px;
    padding: 20px;
    width: 360px;

    }
    h3 {
      color: rgb(45, 5, 156);
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
      }
      h4 {
      color: rgb(25, 24, 24);
      font-size: 20px;
      font-weight: bold;
      }
    img {
      height: 150px;
      width: 150px;
      margin: 20px 0px 12px 95px;;
    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      display: flex;
      font-size: 14px;
      margin-left: 125px;
      margin-top: 12px;
      padding: 5px 14px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
  }
}

.categories {
  h2 {
      color: rgb(8, 5, 14);
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .cat-panels {
    display: flex;
    justify-content: space-around;
    .c-panels {
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 4px 4px 4px gray;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 270px;
      h3 {
        color: gray;
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        // margin-top: 5px;
      }
      .flex-div {
        display: flex;
      }
      h4 {
        font-size: 16px;
        margin-top: -6px;
      }
      .cant {
        font-size: 15px;
        color: rgb(73, 61, 177);
        font-weight: bold;
        margin-top: -7px;
        padding-left: 2px;
      }
      .adm-link {
        color: rgb(73, 61, 177);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 34px;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
      }
    }
  }
  .cat-info {
    border: 1px solid lightgray;
    margin: 30px 50px;
    padding: 20px;
    width: 400px;
    h3 {
    color: rgb(45, 5, 156);
    font-size: 22px;
    font-weight: bold;
    // margin: 15px 25px;
    }
    button {
      background-color: rgb(23, 3, 83);
      border-radius: 10px;
      color:white;
      font-size: 17px;
      margin-left: 80px;
      margin-top: 15px;
      padding: 7px 20px;
      width: 200px;
      transition: ease 0.3;
    }
    button:hover {
      background-color: rgba(23, 3, 83, 0.842);
    }
  
  }
}

.statistics {
  h2 {
      color: rgb(8, 5, 14);
      font-size: 40px;
      font-weight: bold;
      margin: 20px;
  }
  .statis-panels {
    display: flex;
    justify-content: space-around;
    .s-panels {
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 4px 4px 4px gray;
      display: flex;
      flex-direction: column;
      margin: 5px 0px;
      padding: 12px;
      height: 180px;
      width: 270px;
      h3 {
        color: gray;
        font-size: 22px;
        margin-top: 5px;
      }
      .info {
        font-size: 18px;
        margin-top: 5px;
      }
      .number {
        color: rgb(73, 61, 177);
        font-size: 34px;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
      }
      .link {
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
      }
      li {
        list-style: none;
        margin-top: 5px;
        .adm-link {
          color: rgb(73, 61, 177);
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
        }
      }
      
    }
  }
}

/* BREAKPOINTS */
/* TABLET */
@media (min-width: 481px) {}
/* DESKTOP */
@media (min-width: 769px) {}