<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>

    <!--HEADER-->

    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <section class="main-form">
            <p>Crear producto</p>
            <form action="/admin/product/create" method="post" class="form" enctype="multipart/form-data">
                <section class="register">
                    <label class="form-title">Nombre del producto</label>
                    <input type="text" class="validate" name="name"  id="name" placeholder = "Nombre del producto (escribir en MAYÚSCULA. Ej. GRECIA)">
                </section>
                <section class="register">
                    <label class="form-title">Descripción del producto</label>
                    <textarea name="description" rows="4" cols="50" placeholder = "Descripción del producto (separar cada características con un . )"></textarea>
                </section>
                <section class="register">
                    <label class="form-title">Foto del producto</label>
                    <input type="file" name="img" accept=".jpg, .jpeg, .png" multiple >
                </section>
                <section class="register">
                    <label class="form-title">Categoría</label>
                    <div class="register-radio">
                        <input type="radio" name="category" value="techo">
                        <label>Techo</label>
                    </div>
                    <div class="register-radio">
                        <input type="radio" name="category" value="pared">
                        <label>Pared</label>
                    </div>
                    <div class="register-radio">
                        <input type="radio" name="category" value="pie">
                        <label>Pie</label>
                    </div>
                </section>
                <section class="register">
                    <label class="form-title">Color</label>
                    <input type="text" class="validate" name="color"  placeholder = "Color">
                </section>
                <section class="register">
                    <label class="form-title">Precio</label>
                    <input type="number" class="validate" name="price"  placeholder = "Precio">
                </section>
                <section class="register">
                    <label class="form-title">Descuento</label>
                    <input type="number" class="validate" name="discount"  placeholder = "Descuento">
                </section>
                <section class="register">
                    <label class="form-title">Stock</label>
                    <input type="number" class="validate" name="stock"  placeholder = "stock">
                </section>
                <section class="confirm">
                    <button type="reset"><p>Borrar</p></button>
                    <button type="submit"><p>Finalizar</p></button>
                </section>
            </form>
        </section>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>

</body>
</html>