<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/9071629482.js" crossorigin="anonymous"></script> 
    <title>LUMEN lights shop</title>
</head>
<body>
    <header class="home">
        <section class="home__banner">
            <nav>
            <div class="banner__menu-search">
                <button type="button"><i class="fa-solid fa-bars" id="menu">
                    <section class="menu-desp">
                        <div>
                            <a href="#">Inicio</a>
                            <a href="#">Techo</a>
                            <a href="#">Pared</a>
                            <a href="#">Pie</a>
                            <a href="#">Outlet</a>
                            <a href="#">Contacto</a>
                            <a href="#">Nosotros</a>
                        </div>
                    </section>
                </i></button>
                
                <button type="button"><i class="fa-solid fa-magnifying-glass" id="search"></i></button>
                
            </div>
            
            </nav>
            <div class="banner__logo">
                <a href="/"><img src="/img/Logo.jpg" alt="Logo" id="logo"></a>
            </div>
            <div class="banner__login-buy">
                <a href="#"><i class="fa-solid fa-user" id="login"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping" id="buy"></i></a>
                
            </div>
        </section>
        
            <div class="home__img">
                <!-- imagen grande de bienvenida: ver si dejar en header o pasar a main -->
                <img src="/img/inicio-img.jpeg" alt="Imágen bienvenida" class="home__img__img">
            </div>
            <section class="contact">
                <div><a href="https://web.whatsapp.com/" target="_blank">
                    <button id="wafixed"><i class="fa-brands fa-whatsapp"></i>Contáctanos</button></a></div>
            </section>
           
    </header>
    <main>
        <section class="review">
            <!-- acá breve reseña y foto alusiva -->
            <div class="review__txt">
            <h1>LUMEN lights shop</h1>
            <p>
                <strong>LUMEN lights shop</strong> es una tienda online, dedicada a ofrecerte <br>
                productos de iluminación de diseño único y exclusivo, para<br>
                acondicionar tus espacios de la manera más original.<br>
                Podés encontrar amplia variedad para todo tipo de ambiente.
            </p>
            </div>
            
            <div class="review__img">
                <img src="/img/luces.jpeg" alt="Luces" class="review__img__img">
            </div>
        </section>
        <section class="shop">
            <!-- secciones de compra: techo, pared, pie -->
            <div class="shop__top">
                <h3>Techo</h3>
                <a href="#"><img src="/img/techo.jpeg" alt="Lámparas de techo" id="top"></a>
            </div> 
            <div class="wall-floor">
                <div class="shop__wall">
                    <h3>Pared</h3>
                    <!-- <div>
                        <hr>
                        <p>VER MÁS</p>
                    </div> -->
                   
                    <a href="#"><img src="/img/pared.jpg" alt="Lámparas de pared" id="wall"></a>
                </div>
                <div class="shop__floor">
                    <h3>Pie</h3>
                    <a href="#"><img src="/img/pie.jpeg" alt="Lámparas de pie" id="floor"></a>
                </div>
            </div>
        </section>
        <section class="info">
            <div class="info__items">
                <img src="https://www.svgrepo.com/show/6460/truck.svg" alt="envío" id="ship">
            <p>Envíos GRATIS a todo el país <br> en compras superiores a $10.000</p>
        </div>
            <div class="info__items">
                <img src="https://www.svgrepo.com/show/410173/card-3.svg" alt="pago" id="pay">
                <p>10% OFF por transferencia. <br> 3 y 6 cuotas sin interés en <br> todos los bancos</p>
            </div>
            <div class="info__items">
                <img src="https://www.svgrepo.com/show/347646/whatsapp.svg" alt="pedido por whatsapp" id="shop-wa">
                <p>Hacé tu pedido por <br> WhatsApp</p>
            </div>

        </section>
        <h2>Productos destacados</h2> 
        <!-- este h2 va dentro de section class"see" -->
        <section class="see">
            
            <div class="see__dest"><a href="#"><img src="/img/prod1.jpg" alt="Producto destacado" class="dest"></a></div>
            <div class="see__dest"><a href="#"><img src="/img/prod2.jpeg" alt="Producto destacado" class="dest"></a></div>
            <div class="see__dest"><a href="#"><img src="/img/prod3.jpeg" alt="Producto destacado" class="dest"></a></div>
            <div class="see__dest"><a href="#"><img src="/img/prod4.jpeg" alt="Producto destacado" class="dest"></a></div>
            <div class="see__dest"><a href="#"><img src="/img/prod5.jpeg" alt="Producto destacado" class="dest"></a></div>
            <!-- productos destacados -->
            
        </section>
    </main>
    <footer class="footer">
        <section>
            <div class="footer__logo"><img src="/img/Logo.jpg" alt="logo" id="f-logo"></div>
        </section>
        <section>
            <nav>
                <h3>CONTACTO</h3>
            <ul>
                <li>info@lamparasdediseño.com</li>
                <li>WA: (+54 9) 11-6030-3456  </li>
                <li>Tel. Fijo: (+54) 11-4000-5555</li>
                <li>Hs. de atención: Lunes a <br> Sábado de 10 a 19 hs.</li>
            </ul>
        </nav> 
        </section>
        <section>
             <nav>
                 <h3>TIENDA</h3>
            <ul>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">¿Cómo comprar?</a></li>
                <li><a href="#">Devoluciones</a></li>
                <li><a href="#">Reclamos</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
                </nav> 
        </section>
        <section>
            <h3>REDES SOCIALES</h3>
             <nav class="social">
                 
                 <div class="footer__red">
                     <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" id="wa"></i></a>
                    </div>
                 <div class="footer__red">
                     <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" id="fb"></i></a>
                    </div>
                 <div class="footer__red">
                     <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" id="ig"></i></a>
                    </div>
                </nav> 
        </section>
    </footer>
</body>
</html>