<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/9071629482.js" crossorigin="anonymous"></script> 
    <title>LUMEN Lights Shop</title>
</head>
<body>
    <header class="home">
        <section class="home__bar">
            <nav class="bar__menu-search">
                <button type="button"><i class="fa-solid fa-bars" id="menu">
                    <section class="menu-dd">
                        <nav>
                            <a href="#">Inicio</a>
                            <a href="#">Techo</a>
                            <a href="#">Pared</a>
                            <a href="#">Pie</a>
                            <a href="#">Outlet</a>
                            <a href="#">Contacto</a>
                            <a href="#">Nosotros</a>
                        </nav>
                    </section>
                </i></button> 
                <button type="button"><i class="fa-solid fa-magnifying-glass" id="search"></i></button> 
            </nav>
            <div class="bar__logo">
                <a href="/"><img src="/img/LUMEN.png" alt="Logo" id="logo"></a>
            </div>
            <nav class="bar__login-buy">
                <a href="/login.html"><i class="fa-solid fa-user" id="login"></i></a>
                <a href="/productCart.html"><i class="fa-solid fa-cart-shopping" id="buy"></i></a>
            </nav>
        </section>
        
        <section class="home__img">
            <img src="/img/inicio-img.jpeg" alt="Imágen bienvenida" class="home__img__img">
        </section>

        <section class="contact">
            <div><a href="https://web.whatsapp.com/" target="_blank">
            <button id="wafixed"><i class="fa-brands fa-whatsapp"></i>Contáctanos</button></a></div>
        </section>
    </header>
<main>
    <div id="tituloDelCarrito">
        <p>Carrito</p>
    </div>
    
    <div id = "Productone">
        <article class="producto1">
            <div><img src="/img/lampara1.jpg" alt=""></div>
        </article>
        <article class="nombreDelProducto">
            <p>Lampara Numero Uno</p>
        </article>
        <article class="Precio">
            <div><p>$$$</p></div>      
        </article>  
        <article class="addProduct">
            <button class="menos">
                <p>-</p>
            </button>
            <div class="0">
                <p>0</p>
            </div>    
            <button class="mas">
                <p>+</p>
            </button>
        </article>
        <article class="Delete">
            <button class="botonDeEliminar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
        </article>   
        </article>
    </div>
    <div id = "Productwo">
        <article class="producto2">
            <div><img src="/img/lampara1.jpg" alt=""></div>
        </article>
        <article class="Nombre Del Producto 2">
            <p>Lampara Numero Dos</p>
        </article>
        <article class="Precio">
            <div><p>$$$</p></div>      
        </article>  
        <article class="addProduct">
                <button class="menos">
                    <p>-</p>
                </button>
                <div class="0">
                    <p>0</p>
                </div>    
                <button class="mas">
                    <p>+</p>
                </button>
        </article>
        <article class="Delete">
            <button class="botonDeEliminar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
        </article>  
        </article>
    </div>
    <div id = "Producthree">
        <article class="producto3">
            <div><img src="/img/lampara1.jpg" alt=""></div>
        </article>
        <article class="Nombre Del Producto 3">
            <p>Lampara Numero Tres</p>
        </article>
        <article class="Precio">
            <div><p>$$$</p></div>      
        </article> 
        <article class="addProduct">
            <button class="menos">
                <p>-</p>
            </button>
            <div class="0">
                <p>0</p>
            </div>    
            <button class="mas">
                <p>+</p>
            </button>
        </article>
        <article class="Delete">
            <button class="botonDeEliminar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
        </article>  
        </article>
    </div>
    <div id = "total">
        <article class="totales">
            <p>Total Del Carrito: $$$</p>
        </article>
    </div>
    <div id = button__buy>
    <button class="buy">
            <span>Continuar Compra</span>
    </button>
    </div>
    </main>
    <footer class="footer">
        <section>
            <div><img src="/img/LUMEN.png" alt="logo" id="f-logo"></div>
        </section>

        <section>
            <nav>
                <h3>CONTACTO</h3>
                <ul>
                    <li>info@lumenshop.com</li>
                    <li>WA: (+54 9) 11-6030-3456  </li>
                    <li>Tel. Fijo: (+54) 11-4000-5555</li>
                    <li>Horarios de atención: Lunes <br> a Sábado de 10 a 19 hs.</li>
                </ul>
        </nav> 
        </section>

        <section>
             <nav>
                 <h3>TIENDA</h3>
                 <ul>
                    <li><a href="#">Envíos</a></li>
                    <li><a href="#">¿Cómo comprar?</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Reclamos</a></li>
                    <li><a href="#">Nosotros</a></li>
                 </ul>
            </nav> 
        </section>

        <section>
            <h3>REDES SOCIALES</h3>
             <nav class="social">
                 <div class="footer__red">
                     <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" id="wa"></i></a>
                 </div>
                 <div class="footer__red">
                     <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" id="fb"></i></a>
                 </div>
                 <div class="footer__red">
                     <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" id="ig"></i></a>
                 </div>
            </nav> 
        </section>
    </footer>
</body>
</html>    