<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/9071629482.js" crossorigin="anonymous"></script> 
    <title>LUMEN - Carrito de compras</title>
</head>
<body>
    <header class="home">
        <section class="home__bar">
            <nav class="bar__menu-search">
                <button type="button"><i class="fa-solid fa-bars" id="menu">
                    <section class="menu-dd">
                        <nav>
                            <a href="#">Inicio</a>
                            <a href="#">Techo</a>
                            <a href="#">Pared</a>
                            <a href="#">Pie</a>
                            <a href="#">Outlet</a>
                            <a href="#">Contacto</a>
                            <a href="#">Nosotros</a>
                        </nav>
                    </section>
                </i></button> 
                <button type="button"><i class="fa-solid fa-magnifying-glass" id="search"></i></button> 
            </nav>
            <div class="bar__logo">
                <a href="/"><img src="/img/LUMEN.png" alt="Logo" id="logo"></a>
            </div>
            <nav class="bar__login-buy">
                <a href="/login"><i class="fa-solid fa-user" id="login"></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping" id="buy"></i></a>
            </nav>
        </section>
        <section class="contact">
            <div><a href="https://web.whatsapp.com/" target="_blank">
            <button id="wafixed"><i class="fa-brands fa-whatsapp"></i>Contáctanos</button></a></div>
        </section>
    </header>
    <div id="maindetodo">
        <div class="main">
        <div id="tituloDelCarrito">
            <p>Carrito</p>
        </div>
        <div class = "productosDelCarrito">
            <article class="producto">
                <div><img src="/img/relacionado4.jpeg" alt=""></div>
            </article>
            <article class="nombreDelProducto">
                <p>Lampara De Techo Grua</p>
            </article>
            <article class="Precio">
                <div><p>$15.000</p></div>      
            </article>  
            <article class="addProduct">
                <button class="menos">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                      </svg>
                </button>
                <div class="cero">
                    <p>0</p>
                </div>    
                <button class="mas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                </button>
            </article>
            <article class="Delete">
                <button class="botonDeEliminar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
            </article>   
            </article>
        </div>
        <div class = "productosDelCarrito">
            <article class="producto">
                <div><img src="/img/relacionado3.jpeg" alt=""></div>
            </article>
            <article class="nombreDelProducto2">
                <p>Lampara De Techo Membrana</p>
            </article>
            <article class="Precio">
                <div><p>$6.000</p></div>      
            </article>  
            <article class="addProduct">
                    <button class="menos">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                          </svg>
                    </button>
                    <div class="cero">
                        <p>0</p>
                    </div>    
                    <button class="mas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </button>
            </article>
            <article class="Delete">
                <button class="botonDeEliminar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
            </article>  
            </article>
        </div>
        <div class = "productosDelCarrito">
            <article class="producto">
                <div><img src="/img/relacionado2.jpeg" alt=""></div>
            </article>
            <article class="nombreDelProducto">
                <p>Lampara De Techo Binomio</p>
            </article>
            <article class="Precio">
                <div><p>$8.400</p></div>      
            </article> 
            <article class="addProduct">
                <button class="menos">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                      </svg>
                </button>
                <div class="cero">
                    <p>0</p>
                </div>    
                <button class="mas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                </button>
            </article>
            <article class="Delete">
                <button class="botonDeEliminar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg>
                </button>
            </article>  
            </article>
        </div>
        <div id = "total">
            <article class="totales">
                <p class= "totalDelCarrito">Total Del Carrito:</p>
                <p class="precioTotal">$29.400</p>
            </article>
        </div>
        <div id="boton_comprar">
            <button class="botonDeComprar">
                <span>Continuar Compra</span>
            </button>
        </div>
        </div>
    </div>
        <footer class="footer">
            <section>
                <div><img src="/img/LUMEN.png" alt="logo" id="f-logo"></div>
            </section>
    
            <p>Copyright © 2020-2022 LUMEN Lights Shop</p>
    
            <section>
                <nav>
                    <h3>CONTACTO</h3>
                    <ul>
                        <li>info@lumenshop.com</li>
                        <li>WA: (+54 9) 11-6030-3456  </li>
                        <li>Tel. Fijo: (+54) 11-4000-5555</li>
                        <li>Horarios de atención: Lunes <br> a Sábado de 10 a 19 hs.</li>
                    </ul>
            </nav> 
            </section>
    
            <section>
                 <nav>
                     <h3>TIENDA</h3>
                     <ul>
                        <li><a href="#">Envíos</a></li>
                        <li><a href="#">¿Cómo comprar?</a></li>
                        <li><a href="#">Devoluciones</a></li>
                        <li><a href="#">Reclamos</a></li>
                        <li><a href="#">Nosotros</a></li>
                     </ul>
                </nav> 
            </section>
    
            <section>
                <h3>REDES SOCIALES</h3>
                 <nav class="social">
                     <div class="footer__red">
                         <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" id="wa"></i></a>
                     </div>
                     <div class="footer__red">
                         <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" id="fb"></i></a>
                     </div>
                     <div class="footer__red">
                         <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" id="ig"></i></a>
                     </div>
                </nav> 
            </section>
        </footer>
</body>
</html>    