* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}
/* CATEGORÍAS */
.categories {
    background-color: #918c8c1e;
    width: inherit;
}
.category {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.category p {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 5px;
} 

.category a {
    color: black;
    text-decoration: none;
}
/* Productos */
.products {
    width: 100%;
    margin-top: -5px;
}
.products h2 {
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 10px;
    margin-bottom: 3px;
    padding-top: 15px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
}
.rel {
    font-size: 14px;
    padding: 40px 0px 30px 30px;
}
.admin_options {
    background-color: #e79e003b;
    border: solid 1px #666666;
    border-radius: 8px;
    margin: 10px;
    margin-top: 40px;
    padding: 4px;
    width: 185px;
}
.admin_options a {
    color: #061104;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.see {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20x 0px;
    width: 100%;
}

.see__dest {
    background-color: #918c8c1e;
    border: solid 1px #1f1d1d;
    height: 100px;
    width: 32%;
    margin: 8% 3%;
}
.dest {
    border-bottom: solid 1px #1f1d1d;
    height: 100px;
    width: 100%;
}
.see__dest a {
    color: black;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.see__dest p {
    display: none;
}

.buttons{
    display: flex;
    margin: 2px 0px;
    padding: 1px 2px;
    justify-content: space-evenly;
}

.back_button{
    cursor: pointer;
    padding: 1px;
    margin: 0px 2px;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-results img {
    justify-content: center;
    height: 130px;
    width: 165px;
}
.no-results p {
    align-self: flex-start;
    font-size: 14px;
    padding: 30px;
}
/* BREAKPOINTS */
/* TABLETS */
@media (min-width: 481px) {
       .category {
        padding-top: 110px;
        }
        .category p {
        font-size: 15px;
        word-spacing: 6px;
        } 
        .products h2 {
        font-size: 20px;
        position: relative;
        top: 25px;
        left: 20px;
        }
        .see__dest {
        box-shadow: 3px 3px 5px #665e5e;
        height: 125px;
        width: 25%;
        }
        .dest {
        height: 125px;
        width: 100%;
        margin-bottom: 3px;
        }
        .no-results img {
            margin: 10px 0px;
            height: 170px;
            width: 205px;
        }
}

/* DESKTOP */
@media (min-width: 769px) {
        .products h2 {
            font-size: 30px;
            position: relative;
            top: 45px;
            left: 40px;
            width: 50%;
        }
        .rel {
            font-size: 15px;
            padding: 60px 0px 10px 40px;
        }
        .admin_options {
            margin-left: 40px;
            margin-top: 90px;
            padding: 5px;
            width: 185px;
        }
        .admin_options a {
            color: #061104;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }
        .see__dest {
            border: solid 2px #1f1d1d;
            height: 308px;
            width: 20%;
            margin: 10% 1%;
        }
        .dest {
            height: 190px;
            width: 100%;
        }
        .dest:hover {
            opacity: 0.9;
        }
        .see__dest p {
            display: block;
        }
    
        .product_name {
            font-size: 13px;
            font-weight: bold;
            margin-top: 5%;
        }
    
        .see_price_lt {
            color: #665e5e;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 5px;
            text-decoration: line-through;
        }
        .see_price_final {
            color: rgb(15, 165, 15);
            font-size: 16px;
            font-weight: bold;
            text-shadow: 2px 2px 3px darkolivegreen;
        }
        .see_price{
            margin-top: 5%;
        } 
       
        .buttons{
            display: flex;
            margin: 2px 0px;
            padding: 1px 2px;
            justify-content: space-evenly;
        }
        
        .back_button{
            cursor: pointer;
            padding: 1px;
            margin: 0px;
        }
        
        .no-results img {
            margin: 30px 0px;
            height: 300px;
            width: 380px;
        }
        .no-results p {
            font-size: 15px;
        }
        
    }
    @media (min-width: 1140px) {
        .see__dest {
            border: solid 2px #1f1d1d;
            height: 308px;
            width: 17.9%;
            margin: 6% 1%;
        }
        .dest {
            height: 190px;
            width: 100%;
        }
    }