* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.main{
    height: 60vh;
    background-color:#918c8c1e;
    align-items: flex-start;
}

.container-img{
    width: 60%;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    
}

.img{
    width: 100%;
}

.title{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.msg{
    margin: 20px;
    text-align: center;
    font-size: 13px;
}

.msg > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* BREAKPOINTS */
/* TABLET */
@media (min-width: 481px) {
    .main{
        height: 75vh;
    }
    .container-img{
        width: 60%;
        padding-top: 225px;
    }
    .title{
        font-size: 35px;
    }
    .msg{
        font-size: 15px;
    }
    .msg > a{
        font-size: 20px;
    }
}

/* DESKTOP */
@media (min-width: 769px) {
    .main{
        height: 90vh;
    }
    .container-img{
        width: 40%;
        padding-top: 230px;
    }
    .title{
        font-size: 50px;
        margin-top: 50px;
    }
    .msg{
        font-size: 17px;
    }
}