* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.users_main h3 {
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 30px;
}

.users_list {
    border: solid 1px #666666;
    display: flex;
    justify-content: space-evenly;
    margin: 13px 5px;
    padding: 5px;
}
.users_img {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 25%;
}
.users_list img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.users_data {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.users_data h4 {
    font-size: 14px;
    margin: 10px 0px;
}

.users_data p {
    font-size: 13px;
    margin-bottom: 3px;
}

.users_options {
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
    width: 25%;
}

.back_button{
    margin-left: 10px;
}

#edit {
    color: #061104;
    margin: 0px 2px;
}

#delete {
    color: #d11b1b;
    margin: 0px 2px;
}

/* BREAKPOINTS */
/* TABLET */
@media (min-width: 481px) {
    .users_main h3 {
        margin-top: 120px;
    }
    .users_list {
        margin: 13px 15px;
    }
    .users_list img {
        height: 80px;
        width: 80px;
    }
    .users_data h4 {
        font-size: 18px;
        margin: 15px 0px;
    }
    .users_data p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .users_options {
        font-size: 16px;
    }
    /* .back_button{
        width: 80px;
    } */
    #edit {
        margin: 0px 5px;
    }
    #delete {
        margin: 0px 5px;
    }
}

/* DESKTOP */
@media (min-width: 769px) {
    .users_main h3 {
        font-size: 35px;
    }
    .users_list {
        margin: 20px 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        width: 90%;
    }
    .users_img {
        width: 150px;
    }
    .users_list img {
        align-self: center;
        box-shadow: 3px 3px 6px #666666;
        height: 100px;
        width: 100px;
    }   
    .users_data h4 {
        font-size: 20px;
        margin: 18px 0px;
    }
    .users_data p {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .users_options {
        font-size: 20px;
    }

    .back_button{
        width: 100px;
    }

    #edit {
        cursor: pointer;
        margin: 0px 6px;
    }
    
    #delete {
        cursor: pointer;
        margin: 0px 6px;
    }
}