* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

.preview {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    padding-top: 5%;
}

.preview__txt {
    flex-direction: column;
    text-align: center;
}

.h2_preview_txt {
    font-size: 1em;
    font-weight: bold;
    display: block;
}

.h2_preview_txt2 {
    font-size: 1em;
    font-weight: bold;
    display: none;
}

.preview p {
    font-size: 20px;
    line-height: 22px;
}

.preview__img__img {
    box-shadow: 3px 3px 6px #666666;
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: cover;
}

/* Productos Relacionados */
.agregarcarrito {
    cursor: pointer;
}
.Desc-titulo{
    margin-left: 15%;
    margin-bottom: 1%;
}
.Desc-candelabro {
    margin-left: 15%;
    margin-bottom:  10%; ;
    margin-right: 10%;
}
.see {
    background-color: #918c8c1e;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    padding: 6% 0%;
}

.preciodetalle {
    text-align: center;
    margin-top: 10px;
}

.h2 {
    align-self: flex-start;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    margin: 20px 15px;
}
.products-h2 {
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 10px;
    margin-bottom: 3px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
}

.see__dest {
    background-color: #918c8c1e;
    border: solid 2px #1f1d1d;
    height: 90px;
    width: 15%;
}
.dest {
    border-bottom: solid 1px #1f1d1d;
    height: 90px;
    width: 100%;
    margin-bottom: 2px;
}
.see__dest a {
    color: black;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.see__dest p {
    display: none;
}

.dest-fee {
    display: none;

}

/* BREAKPOINTS */

/* TABLETS */
@media (min-width: 481px) {
    .products-h2 {
        font-size: 20px;
        position: relative;
        top: 25px;
        left: 20px;
    }
    .see__dest {
        border: solid 2px #1f1d1d;
        box-shadow: 3px 3px 5px #665e5e;
        height: 120px;
        width: 15%;
    }
    .dest {
        height: 120px;
        width: 100%;
        margin-bottom: 3px;
    }
}
/* DESKTOP */
@media (min-width: 761px) {

    /*DetalleDeProduct*/
    .preview {
        background-color: white;
        display: flex;
        flex-direction: inherit;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 80px;
        padding-top: 5%;
    }

    .preview__txt {
        flex-direction: column;
        text-align: center;
    }

    .h2_preview_txt {
        font-size: 1em;
        font-weight: bold;
        display:none;
    }

    .h2_preview_txt2 {
        font-size: 1em;
        font-weight: bold;
        display:block;
    }


    .preview h1 {
        text-shadow: 1px 1px white, -2px -1px #E79F00;
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .preview p {
        font-size: 20px;
        line-height: 22px;
    }

    .preview__img__img {
        box-shadow: 3px 3px 6px #666666;
        height: 400px;
        width: 500px;
        margin: 40px;
        object-fit: cover;
    }
    .products-h2 {
        font-size: 30px;
        position: relative;
        top: 45px;
        left: 40px;
        width: 50%;
    }
    .see__dest {
        height: 300px;
        width: 15%;
    }
    .dest {
        height: 190px;
        width: 100%;
    }
    .dest:hover {
        opacity: 0.9;
    }
    .see__dest p {
        display: block;
        font-size: 13px;
    }
    .dest-fee {
        color: black;
        display: block;
        padding-top: 6%;
        text-align: center;
    }
}

