* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

/* MAIN FORM */
.background-main-form{
    background-color:#918c8c1e;
}
.main-form{
    width: 80%;
    padding:5%;
    margin-left: 5%;
    background-color: white;
}
.main-form > p{  
    font-size: 35px;
    font-weight: bold;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 70px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
}
.main-form > h3{
    margin-top: 5%;
    text-align: center;
}
.main-form > a{
    text-decoration: none;
    color: black;
}
.main-form > a > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 10px;
}
.errorMsg {
    color: #ca1717;
    font-size: 15px;
    font-weight: bold;
}
.errors {
    margin: 20px 0px;
    padding: 10px;
}
form {
    text-align: center;
}
.form-title{
    align-self: flex-start;
    margin-left: 10%;
    font-weight: bold;
}
.register{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 93%;
}
.register > input{
    align-self: center;
    width: 75%;
    color: black;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.103), white);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.register > input:focus{
    background-image: linear-gradient(to right, rgba(255, 145, 0, 0.089), white);
    border-color: #E79F00;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}
.register > input:hover{
    background-color: white;
}

    /* MAIN REGISTER */

.confirm{
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    justify-content: space-between;
}
.confirm > button{
    width: 60%;
    background-color: #918c8c;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 4px;
    transition: all 1s ease;
}
.g-recaptcha{
    display: none;
}
.confirm > button > p{
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: all 1s ease;
}
.confirm > button:hover{
    background-color: black;
    font-size: 0.9em;
}
.confirm > button > p:hover{
    font-size: 16px;
}

/* BREAKPOINTS */
/* TABLET */
@media (min-width: 481px) {
    .background-main-form{
        margin-top: 50px;
    }
    .confirm > button{
        width: 40%;
    }
}

/* DESKTOP */
@media (min-width: 769px){
    .background-main-form{
        margin-top: 60px;
    }
    .main-form > p{
        margin: 25px;
    }
    .g-recaptcha{
        display: block;
    }
    .confirm{
        flex-direction: row;
    }
    .confirm > button{
        letter-spacing: 1px;
        margin: 15px 0px;
        padding: 12px;
        width: 25%;
    }
    .confirm > button > p{
        font-size: 15px;
    }
    .confirm > button > p:hover{
        font-size: 18px;
    }
    .pass {
        font-size: 13px;
        /* display: none; */
    }
    .block {
        display: block;
    }
}