* {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

/* SECCION HOME */
/* HEADER */
.home {
    width: 100%;
}

/* Barra */
.home__bar {
    align-items: center;
    background-color: #1f1d1d;
    display: flex;
    height: 40px;
    width: 100%;
}

.bar__menu-search,
.bar__login-buy {
    background-color: #1f1d1d;
    display: flex;
}

.bar__menu-search button {
    background-color: #1f1d1d;
    border: 0px;
    cursor: pointer;
}

#menu,
#search,
#login,
#buy {
    background-color: #1f1d1d;
    color: white;
    font-size: 15px;
    margin: 20px;
    padding: 5px;
}

.menu-dd {
    background-color: black;
    border: solid 1px white;
    display: none;
    width: 25%;
    opacity: 0.6;
    position: fixed;
    top: 40px;
    left: 1px;
    transition: all 0.3s ease;
}

.menu-dd a {
    border: solid 1px white;
    font-size: 80%;
    color: white;
    display: block;
    padding: 20% 5%;
    text-align: center;
    text-decoration: none;
}

/* Esta sección está pensada para que funcione con click (JS) */
#menu:hover .menu-dd {
    display: block;
}

.menu-dd:hover {
    position: fixed;
}
/* Hasta acá */

.bar__logo {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 36px;
    width: 100%;
    padding: 5px;
}

/* --- */

/* whatsapp fijo */
.contact {
    display: flex;
    margin-left: 87%;
}

#wafixed {
    background-color: black;
    border-radius: 8px;
    box-shadow: 3px 2px 5px #666666;
    color: white;
    font-size: small;
    font-weight: 300;
    height: 30px;
    width: 110px;
    position: fixed;
    top: 92%;
    right: 2%;
    z-index: 1;
}

#wafixed i {
    color: white;
    font-size: 12px;
    padding: 2px;
    padding-right: 5%;
}

/* MAIN */
/* IMG bienvenida */
.home__img {
    padding: 0px;
}

.home__img__img {
    width: 100%;
}
/* Reseña */
.review {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.review h1 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 8px 1px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
}

.review p {
    font-size: 12px;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.review__img__img {
    display: none;
}

/* Categorías */
/* La idea es que posteriormente esta parte sea un carrousel */
.shop {
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.shop h3 {
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    font-size: 15px;
    letter-spacing: 1px;
}

.shop__top {
    width: 58%;
    margin: 0px;
}

.shop__top h3,
.shop__floor h3 {
    position: relative;
    top: 90%;
    left: 5%;
}

#top {
    border: solid 1px #918c8c;
    height: 200px;
    width: 100%;
    object-fit: fill;
}

.wall-floor {
    flex-direction: column;
    height: 200px;
    width: 38%;
    margin: 0px;
}

.shop__wall {
    height: 90px;
    width: 100%;
    margin: 0px;
}

.shop__wall h3 {
    position: relative;
    top: 80%;
    left: 5%;
}

#wall {
    border: solid 1px #918c8c;
    height: 90px;
    width: 100%;
    margin: 0px;
}

.shop__floor {
    height: 120px;
    width: 100%;
    margin: 0px;
}

#floor {
    border: solid 1px #918c8c;
    height: 120px;
    width: 100%;
    margin-top: -10px;
}

/* información */
.info {
    background-color: white;
    width: inherit;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.info p {
    font-size: 13px;
    text-align: center;
}

.info__items {
    text-align: center;
}

#ship,
#pay,
#shop-wa {
    height: 50px;
    width: 80px;
    padding: 15px;
}

/* Productos destacados */
.see {
    background-color: #918c8c1e;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    padding: 6% 0%;
}

.products h2 {
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 10px;
    margin-bottom: 3px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
}

.see__dest {
    background-color: #918c8c1e;
    border: solid 2px #1f1d1d;
    height: 90px;
    width: 15%;
}
.dest {
    border-bottom: solid 1px #1f1d1d;
    height: 90px;
    width: 100%;
    margin-bottom: 2px;
}
.see__dest a {
    color: black;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.see__dest p {
    display: none;
}

.dest-fee {
    display: none;

}

/* FOOTER */
.footer {
    background-color: #918c8c;
    color: white;
    display: flex;
    width: inherit;
    padding: 10px;
    flex-direction: column;
}
.footer section {
    text-align: center;
}

#f-logo {
    display: none;
}

.footer p {
    color: #ffffffe1;
    font-size: 11px;
    padding-top: 10%;
}

.footer h3 {
    font-size: 14px;
    padding: 10px 0px;
}

.footer li {
    font-size: 11px;
    list-style: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
}

.footer__red {
    margin-top: 5px;
}

#wa,
#fb,
#ig {
    color: white;
    font-size: 25px;
    padding: 0px 10px;
}


/* BREAKPOINTS */
/* TABLETS */
@media (min-width: 481px) {
    .home__bar {
        height: 93px;
        position: fixed;
        z-index: 2;
    }

    .menu-dd {
        position: fixed;
        top: 93px;
        left: 1px;
    }
    .menu-dd a {
        border: solid 1px white;
        font-size: 15px;
        padding: 20px 10px;
    }
    #menu,
    #search,
    #login,
    #buy {
        font-size: 20px;
        margin: 20px;
        padding: 8px;
    }

    #logo {
        height: 55px;
        width: 100%;
        padding: 5px;
    }

    #wafixed {
    font-size: small;
    height: 30px;
    width: 120px;
    }
    #wafixed i {
    font-size: 14px;
    padding: 5px;
    }

    .review h1 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px 3px;
    }
    .review p {
    font-size: 13px;
    line-height: 10px;
    }
    .review__img__img {
    box-shadow: 3px 3px 6px #666666;
    display: block;
    height: 160px;
    width: 270px;
    margin: 20px;
    object-fit: cover;
    }

    .shop,
    #top,
    .wall-floor {
        height: 350px;
    }
    .shop h3 {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .shop__wall,
    #wall {
        height: 135px;
    }
    .shop__floor,
    #floor {
        height: 225px;
    }
    
    .info {
    margin: 30px 10px;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8px;
    }
    #ship,
    #pay,
    #shop-wa {
    height: 60px;
    width: 100px;
    padding: 15px;
    }
    
    .products h2 {
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 20px;
    }
    .see__dest {
    border: solid 2px #1f1d1d;
    box-shadow: 3px 3px 5px #665e5e;
    height: 120px;
    width: 15%;
    }
    .dest {
    height: 120px;
    width: 100%;
    margin-bottom: 3px;
    }

    .footer p {
        font-size: 12px;
    }
    .footer h3 {
        font-size: 15px;
    }
    .footer li {
        font-size: 12px;
    }
    .footer a {
        font-size: 12px;
    }
    #wa,
    #fb,
    #ig {
        font-size: 25px;
        padding: 0px 12px;
    }


}

/* DESKTOP */
@media (min-width: 769px) {
    .menu-dd a {
        border: solid 1px white;
        font-size: 20px;
        padding: 30px 18px;
    }
    #menu,
    #search,
    #login,
    #buy {
        font-size: 25px;
        margin: 22px;
        padding: 10px;
    }
    #menu:hover,
    #search:hover,
    #login:hover,
    #buy:hover {
        text-shadow: -3px -3px 10px #E79F00;
    }

    #logo {
        height: 90px;
        width: 100%;
        padding: 5px;
    }

     #wafixed {
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    height: 40px;
    width: 150px;
    }
    #wafixed:hover {
    box-shadow: -3px -3px 10px #E79F00;
    }
    #wafixed i {
    font-size: 20px;
    }

    .review {
    height: 290px;
    }
    .review h1 {
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 15px 5px;
    }
    .review p {
    font-size: 15px;
    line-height: 20px;
    }
    .review__img__img {
    height: 200px;
    width: 380px;
    margin: 30px;
    }

    .shop {
        height: 500px;
    }
    .shop h3 {
        font-size: 28px;
        letter-spacing: 2px;
    }
    #top {
        height: 480px;
    }
    
    #top:hover {
        opacity: 0.8;
        box-shadow: 3px 3px 6px #666666;
    }
    .shop__top:hover h3 {
        color: #E79F00;
        cursor: pointer;
        font-size: 30px;
        z-index: 1;
    }
    .wall-floor {
        height: 500px;
    }
    .shop__wall {
        height: 220px;
    }
    #wall {
        height: 210px;
    }
    #wall:hover {
        opacity: 0.8;
        box-shadow: 3px 3px 6px #666666;
    }
    .shop__wall:hover h3 {
        color: #E79F00;
        cursor: pointer;
        font-size: 30px;
        z-index: 1;
    }
    .shop__floor {
        height: 280px;
    }
    #floor {
        height: 270px;
    }
    .shop__floor h3 {
        position: relative;
        top: 85%;
        left: 5%;
    }
    #floor:hover {
        opacity: 0.8;
        box-shadow: 3px 3px 6px #666666;
    }
    .shop__floor:hover h3 {
        color: #E79F00;
        cursor: pointer;
        font-size: 30px;
        z-index: 1;
    }
    
    .info {
        margin: 40px 20px;
        padding-top: 10px;
    }
    .info p {
        font-size: 15px;
    }
    #ship,
    #pay,
    #shop-wa {
        height: 80px;
        width: 120px;
        padding: 20px;
    }

    .products h2 {
        font-size: 30px;
        position: relative;
        top: 45px;
        left: 40px;
        width: 50%;
    }
    .see__dest {
        height: 300px;
        width: 15%;
    }
    .dest {
        height: 190px;
        width: 100%;
    }
    .dest:hover {
        opacity: 0.9;
    }
    .see__dest p {
        display: block;
        font-size: 13px;
    }
    .dest-fee {
        color: black;
        display: block;
        padding-top: 6%;
        text-align: center;
    }

    .footer {
    flex-direction: row;
    justify-content: space-around;
    height: 180px;
    padding: 20px;
    }
    #f-logo {
    display: block;
    height: 75px;
    width: 100%;
    margin: 35px 5px;
    }
    .footer p {
    align-self: flex-end;
    font-size: 12px;
    margin-left: -370px;
    }
    .footer h3 {
    padding: 10px 0px;
    }
    .footer li {
    line-height: 22px;
    }
    .footer a {
    line-height: 22px;
    }
    .social {
    display: flex;
    justify-content: space-around;
    }
    #wa,
    #fb,
    #ig {
    font-size: 25px;
    }
}



/* SECCION DETALLE DE PRODUCTO */
.preview {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    padding-top: 5%;
}

.preview__txt {
    flex-direction: column;
    text-align: center;
}

.h2_preview_txt {
    font-size: 1em;
    font-weight: bold;
    display: block;
}

.h2_preview_txt2 {
    font-size: 1em;
    font-weight: bold;
    display: none;
}

.preview p {
    font-size: 20px;
    line-height: 22px;
}

.preview__img__img {
    box-shadow: 3px 3px 6px #666666;
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: cover;
}

/* Productos Relacionados */
.agregarcarrito {
    cursor: pointer;
}
.Desc-titulo{
    margin-left: 15%;
    margin-bottom: 1%;
}
.Desc-candelabro {
    margin-left: 15%;
    margin-bottom:  10%; ;
    margin-right: 10%;
}

.products-h2 {
    font-size: 30px;
    position: relative;
    top: 45px;
    left: 40px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    width: 50%;
}

.preciodetalle {
    text-align: center;
    margin-top: 10px;
}

.h2 {
    align-self: flex-start;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    margin: 20px 15px;
}



/* SECCION CARRITO DE COMPRAS */
.maindetodo {
    background-color: white;
    margin: 1% auto;
    width: inherit;
}

.main {
    margin: 1% auto;
    height: 50%;
    width: 50%;
    padding: 40% auto;
    background-color: rgb(126, 126, 126);
    opacity: 0.8;
}

#tituloDelCarrito p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    margin-top: 15%;

}

.productosDelCarrito {
    background: rgb(176, 176, 176);
    display: flex;
    margin: 1% auto;
    height: 100px;
    width: 600px;
}

.productosDelCarrito .producto {
    display: flex;
    align-items: center;
    margin: 12px;
}

.producto img {
    height: 60px;
    width: 100px;
    border: solid white 5px;
}

.botonDeEliminar {
    margin: 1% auto;
    height: 40px;
    font-size: 10px;
    background: red;
    letter-spacing: 0.1px;
    cursor: pointer;
    color: rgba(255, 255, 255, .8);
    padding: 10px;
    min-width: 40px;
}

.productosDelCarrito article {
    display: flex;
    width: 150px;
    margin: 20px;
}

.totales {
    display: flex;
    flex-direction: row;
}

#total .precioTotal {
    margin-top: 2.5px;
    font-weight: bold;
}

#total {
    display: flex;
    justify-content: right;
    margin: 3%;
}

#total .totalDelCarrito {
    margin-right: 5px;
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    font-size: 20px;
}

.mas {
    font-weight: bold;
    background-color: white;
    margin-left: 5px;
    opacity: 0.5;
    height: 45%;
    width: 30%;
}

.menos {
    background-color: white;
    font-weight: bold;
    margin-right: 5px;
    opacity: 0.5;
    height: 45%;
    width: 30%;
}

.cero {
    display: flex;
    justify-content: center;
    margin: 2px;
    font-size: 140%;
    height: 25px;
    width: 25px;
}

#boton_comprar {
    display: flex;
    justify-content: right;
    height: 50px;
    margin: 20px;
}

.botonDeComprar {
    height: 30px;
    border-radius: 3rem 3rem;
    width: 200px;
}

.botonDeComprar:hover {
    color: white;
    cursor: pointer;
    background: #2f9b05;
}


/* SECCION FORMULARIO DE REGISTRO */

/* MAIN FORM */

.background-main-form{
    background-color:#918c8c1e;
}

.main-form {
    width: 80%;
    margin-top: 100px;
    padding:5%;
    margin-bottom: 20px;
    margin-left: 5%;
    background-color: white;
}

.main-form>p {
    text-shadow: 1px 1px white, -2px -1px #E79F00;
    margin-top: 20%;
    font-weight: bold;
    font-size: 35px;
}

.main-form>h3 {
    margin-top: 5%;
    text-align: center;
}
.form {
    text-align: center;
}
.form-title{
    align-self: flex-start;
    margin-left: 10%;
    font-weight: bold;
}
.register{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 93%;
}
.register > input{
    align-self: center;
    width: 75%;
    color: black;
    background-color: #f8f8ff;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.register > input:focus {
    background-color: white;
    border-color: #E79F00;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6);
    outline: 0 none;
}

/* MAIN EDIT/CREATE */

.register > input:hover {
    background-color: white;
}
.register-radio{
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
}
.register > textarea{
    align-self: center;
    width: 75%;
    color: black;
    background-color: #f8f8ff;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.register > textarea:focus {
    background-color: white;
    border-color: #E79F00;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6);
    outline: 0 none;
}

.register > textarea:hover {
    background-color: white;
}

        /* MAIN REGISTER */

.validate:valid{
    border-color: rgb(0, 218, 0);
}

.confirm {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.confirm > button {
    width: 60%;
    background-color: #918c8c;
    cursor: pointer;
    padding: 14px 18px;
    margin: 15px 10%;
    border: solid 1px black;
    border-radius: 4px;
    transition: all 1s ease;
}

.g-recaptcha {
    display: none;
}

.confirm > button > p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: all 1s ease;
}

.confirm > button:hover {
    background-color: black;
    font-size: 0.9em;
}

.confirm > button > p:hover {
    font-size: 16px;
}

/* SECCION FORMULARIO DE LOGIN */

        /* MAIN LOGIN */

.form-links{
    display: flex;
    flex-direction: column;
}
.form-links > a{
    align-self: center;
    text-decoration: none;
    color: black;
}
.form-links > a > p{
    font-weight: bold;
    margin: 10px;
}
.login-button{
    background-color: #918c8c;
    cursor: pointer;
    width: 25%;
    padding: 8px 16px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 1s ease;
}
.login-button:hover {
    background-color: black;
}
.login-button > p{
    color: white;
    font-size: 12px;
    font-weight: bold;
    transition: all 1s ease;
}
.login-button > p:hover{
    font-size: 16px;
}

/* MEDIA QUERIES */

@media (min-width: 761px) {
    .main-form>p {
        margin: 25px;
    }

    .g-recaptcha {
        display: block;
    }

    .confirm {
        flex-direction: row;
    }

    .confirm > button {
        width: 15%;
        margin: 15px 0px;
    }

    .confirm > button >p {
        font-size: 13px;
    }
    .login-button{
        width: 20%;
    }
    .login-button > p{
        font-size: 15px;
    }
}


@media (min-width: 761px) {

    /*DetalleDeProduct*/
    .preview {
        background-color: white;
        display: flex;
        flex-direction: inherit;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 80px;
        padding-top: 5%;
    }

    .preview__txt {
        flex-direction: column;
        text-align: center;
    }

    .h2_preview_txt {
        font-size: 1em;
        font-weight: bold;
        display:none;
    }

    .h2_preview_txt2 {
        font-size: 1em;
        font-weight: bold;
        display:block;
    }


    .preview h1 {
        text-shadow: 1px 1px white, -2px -1px #E79F00;
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .preview p {
        font-size: 20px;
        line-height: 22px;
    }

    .preview__img__img {
        box-shadow: 3px 3px 6px #666666;
        height: 400px;
        width: 500px;
        margin: 40px;
        object-fit: cover;
    }
}