<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head') %>
<!-- LUMEN Lights Shop -->
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <main class="main">
        <section class="container-img">
            <img src="/img/LUMEN roto Boceto 2.png" alt="Error" class="img">
        </section>
        <p class="title">Error 404</p>
        <p class="msg">Ha ocurrido un error con el contenido que solicitaste.</p>
        <p class="msg"><a href="/">IR AL INICIO</a></p>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>