<footer class="footer">
    <section>
        <img src="/img/LUMEN.png" alt="logo" id="f-logo">
    </section>

    <section>
        <h3 id="contact">CONTACTO</h3>
        <nav>
            <ul>
                <li>info@lumenshop.com</li>
                <li>WA: (+54 9) 11-6030-3456  </li>
                <li>Tel. Fijo: (+54) 11-4000-5555</li>
                <li>Horarios de atención: Lunes <br> a Sábado de 10 a 19 hs.</li>
            </ul>
    </nav> 
    </section>

    <section>
        <h3>TIENDA</h3>
         <nav>
             <ul>
                <li><a href="https://web.whatsapp.com/" target="_blank">Envíos</a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank">¿Cómo comprar?</a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank">Devoluciones</a></li>
                <li><a href="https://web.whatsapp.com/" target="_blank">Reclamos</a></li>
                <li><a href="#us">Nosotros</a></li>
             </ul>
        </nav> 
    </section>

    <section>
        <h3>REDES SOCIALES</h3>
         <nav class="social">
             <article class="footer__red">
                 <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" id="wa"></i></a>
             </article>
             <article class="footer__red">
                 <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" id="fb"></i></a>
             </article>
             <article class="footer__red">
                 <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" id="ig"></i></a>
             </article>
        </nav> 
    </section>
    <!-- <section class="Copyright"> -->
        <p>Copyright © 2020-2022 LUMEN Lights Shop</p>
    <!-- </section> -->

</footer>