<header class="home">
    <section class="home__bar">
        <nav class="bar__menu-search">
            <button type="button"><i class="fa-solid fa-bars" id="menu">
                <section class="menu-dd">
                    <nav>
                        <a href="/">Inicio</a>
                        <a href="/product/techo">Techo</a>
                        <a href="/product/pared">Pared</a>
                        <a href="/product/pie">Pie</a>
                        <a href="#">Outlet</a>
                        <a href="#">Contacto</a>
                        <a href="#">Nosotros</a>
                    </nav>
                </section>
            </i></button> 
            <button type="button"><i class="fa-solid fa-magnifying-glass" id="search"></i></button> 
        </nav>
        <div class="bar__logo">
            <a href="/"><img src="/img/LUMEN.png" alt="Logo" id="logo"></a>
        </div>
        <nav class="bar__login-buy">
            <% if (locals.isLogged) { %>
                <a href="/user/profile"><i class="fa-solid fa-user" id="login"></i></a>
            <% } else { %> 
            <a href="/user/login"><i class="fa-solid fa-user" id="login"></i></a>
            <% } %> 
            <a href="/cart"><i class="fa-solid fa-cart-shopping" id="buy"></i></a>
        </nav>
    </section>

    <section class="contact">
        <a href="https://web.whatsapp.com/" target="_blank">
        <button id="wafixed"><i class="fa-brands fa-whatsapp"></i>Contáctanos</button></a>
    </section>
</header>