<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>

    <!--HEADER-->

    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <div class="main-form">
            <p>Crear cuenta</p>
            <h3>Comprá más rápido y llevá el control de tus pedidos!</h3>
            <article>
                <form action="/create_account" method="post" class="form">
                    <div class="register">
                        <input type="text" class="validate" name="name" required="required" pattern="{0,11}" placeholder = "Nombre Completo">
                    </div>
                    <div class="register">
                        <input type="email" class="validate" name="email" required pattern="{0,11}" placeholder = "Email">
                    </div>
                    <div class="register">  
                        <input type="tel" class="validate" name="phone" pattern="[0-9]{1,11}" required="required" placeholder = "Telefono">
                    </div>
                    <div class="register">
                        <input type="password" class="validate" name="password" required="required" placeholder = "Contraseña">
                    </div>
                    <div class="register">
                        <input type="password" class="validate" name="confirm_password" required="required" placeholder = "Confirmar Contraseña">
                    </div>
                    <div class="confirm">
                        <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>
                        <button type="submit"><p>Crear cuenta</p></i></button>
                    </div>
                </form>
            </article>
        </div>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
    
</body>
</html>