<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="preview">
            <div class="preview__img">
                <img src="\img\detalle.jpeg" alt="Luces" class="preview__img__img">
            </div>
            <div class="preview__txt">
                <h2>Candelabro Sputnik</h2>
                <p>
                    <br>$9.500
                    <br>
                <form action="productDetail.html" method="POST">
                    <select name="mes">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select> Cuotas Sin Interes
                    <br>
                    </p>
                    <div> &nbsp </div>
                    <button class="agregarcarrito">Agregar al carrito</button>
            </div>
        </section>
        <p class="Desc-candelabro">Añade una bonita decoración a cualquier área de tu casa. <br>
            Cada vez más diseñadores la eligen para lograr un estilo de alta gama.<br>
            El candelabro de techo Sputnik es la mejor opción para tu
            nuevo hogar.</p>

        <section class="products">
            <h2 class="products-h2">Productos Relacionados</h2>
            <article class="see">
                <div class="see__dest">
                    <a href="/productDetail.html">
                        <img src="\img\relacionado1.jpeg" alt="Producto Relacionado" class="dest">
                        <p>Lampara de techo BINOMIO<br><strong>$8.400</strong></p>
                    </a>
                    <p class="dest-fee">6 cuotas sin interés de <strong>$1400</strong></p>
                </div>
                <div class="see__dest">
                    <a href="/productDetail.html">
                        <img src="\img\relacionado2.jpeg" alt="Producto Relacionado" class="dest">
                        <p>Lámpara de techo ERIZO<br><strong>$10.500</strong></p>
                    </a>
                    <p class="dest-fee">6 cuotas sin interés de <strong>$1.750</strong></p>
                </div>
                <div class="see__dest">
                    <a href="/productDetail.html">
                        <img src="/img/relacionado3.jpeg" alt="Producto Relacionado" class="dest">
                        <p>Lampara de techo MEMBRANA<br><strong>$6.000</strong></p>
                    </a>
                    <p class="dest-fee">6 cuotas sin interés de <strong>$1.000</strong></p>
                </div>
                <div class="see__dest">
                    <a href="/productDetail.html">
                        <img src="/img/relacionado4.jpeg" alt="Producto Relacionado" class="dest">
                        <p>Lámpara de techo GRUA<br><strong>$15.000</strong></p>
                    </a>
                    <p class="dest-fee">6 cuotas sin interés de <strong>$2.500</strong></p>
                </div>
                <div class="see__dest">
                    <a href="/productDetail.html">
                        <img src="/img/relacionado5.jpeg" alt="Producto Relacionado" class="dest">
                        <p>Lámpara de techo TRIVENTO<br><strong>$8.400</strong></p>
                    </a>
                    <p class="dest-fee">6 cuotas sin interés de <strong>$1.400</strong></p>
                </div>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>