<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--HEADER-->
    <%- include('../partials/header') %>

    <main class="users_main">
        <h3>Lista de usuarios</h3>
        <article class="users_list">
            <img src="/img/users/default.jpg" alt="Imagen de usuario">
            <section class="users_data">
                 <h4>firstName & lastName (id:x)</h4>
            <p>email</p>
            <p>phone</p>
            </section>
            <section class="users_options">
                <a href="#"><i class="fa-solid fa-pen-to-square" id="edit"></i></a>
                <a href="#"><i class="fa-solid fa-trash" id="delete"></i></a>
            </button>
        </article>
           

    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
</body>
</html>