<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <!--HEADER-->
    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <div class="main-form">
            <p>Mi cuenta</p>
            <h3>ACCEDER</h3>
            <form action ="/user/login" method="post" class="form">
                <div class="register">
                    <input type="text" name="email" placeholder = "Email">
                </div>
                <div class="register">
                    <input type="password" name="password" placeholder = "Contraseña">
                </div>
                <div>
                    <input type="checkbox" name="remember" id="remember" value="Si">
                    <label class="Remember" for="remember">Recuérdame</label>
                </div>
                <button type="submit" class="login-button"><p>Iniciar sesión</p></button>
            </form>
            <div class="form-links">
                <a href="#"><p>¿Olvidaste tu contraseña?</p></a>
                <a href="/user/register"><p>Crear una cuenta</p></a>
            </div>
        </div>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>

</body>
</html>