<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
<body>

    <!--HEADER-->

    <%- include('../partials/header') %>

    <!--MAIN-->

    <main class="background-main-form">
        <section class="main-form">
            <p>Crear cuenta</p>
            <h3>Comprá más rápido y llevá el control de tus pedidos!</h3>
            <form action="/register" method="post" class="form" enctype="multipart/form-data">
                <section class="register">
                    <input type="text" class="validate" name="firstName"  pattern="{0,11}" placeholder = "Nombre" required>
                </section>
                <section class="register">
                    <input type="text" class="validate" name="lastName"  pattern="{0,11}" placeholder = "Apellido" required>
                </section>
                <section class="register">
                    <input type="email" class="validate" name="email"  pattern="{0,11}" placeholder = "Email" required>
                </section>
                <section class="register">  
                    <input type="tel" class="validate" name="phone" pattern="[0-9]{1,11}"  placeholder = "Teléfono" required>
                </section>
                <section class="register">
                    <input type="password" class="validate" name="password"  placeholder = "Contraseña" required>
                </section>
                <section class="register">
                    <input type="password" class="validate" name="confirm_password"  placeholder = "Confirmar contraseña" required>
                </section>
                <section class="register">
                    <label class="form-title">Imagen de perfil</label>
                    <input type="file" name="img" accept=".jpg" multiple >
                </section>
                <section class="confirm">
                    <section class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></section>
                    <button type="submit"><p>Crear cuenta</p></i></button>
                </section>
                </form>
        </section>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer') %>
    
</body>
</html>